@model project_itasty.Models.UserInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserInfo1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBanner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBanner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIntro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIntro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPermissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPermissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
