@using Microsoft.AspNetCore.Http
@using project_itasty.Models;
@model UserInfo;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor hca
@{
	string userEmail = hca.HttpContext?.Session.GetString("userEmail") ?? "Guest";
	int userId = hca.HttpContext?.Session.GetInt32("userId") ?? 0;
}

@{
	// ViewData["Title"] = @Model.UserName + " | iTasty";
	Layout = "~/Views/Shared/_itastyLayout.cshtml";
}

@section MyHeadScripts {
	<script src="~/js/croppie.js"></script>
	<script src="~/js/Chart.min.js"></script>
	<link rel="stylesheet" href="~/css/croppie.css">
	<script src="~/js/user_info.js"></script>
	<link rel="stylesheet" href="~/css/user_info.css">

}

<div class="container container_user gx-0">
	<div class="row gx-0">
		<!-- 使用者資訊背景 -->
		<div class="px-0 ratio" style="--bs-aspect-ratio: 33.33%;">
			@{
				if (Model.UserBanner != null)
				{
					<img src="data:image/jpg;base64, @Convert.ToBase64String(Model.UserBanner)" class="img_user_banner rounded-top" />
				}
				else
				{
					<img src="~/img/img_user_info.png" class="img_user_banner rounded-top">
				}
			}
		</div>
		<!-- 使用者資訊 -->
		<div class="area_user_info position-relative px-0">
			@{
				if (Model.UserPhoto != null)
				{
					<img src="data:image/jpg;base64, @Convert.ToBase64String(Model.UserPhoto)" class="img_user_icon d-inline rounded-circle" />
				}
				else
				{
					<img src="~/img/img_user_icon.png" class="img_user_icon d-inline rounded-circle">
				}
			}

			<div class="text_user_name d-inline">@Model.UserName</div>
			<div class="text_recipe d-inline">@ViewBag.recipe_count 食譜</div>
			<div class="text_fan d-inline">@ViewBag.user_count 位粉絲</div>

			<div class="text_user_info d-flex align-items-center">
				<p class="m-0">
					<!-- 這個人很懶，什麼都沒有留下<br> -->
					@(!String.IsNullOrEmpty(Model.UserIntro) ? Model.UserIntro : "這個人很懶，什麼都沒有留下")
				</p>
			</div>

			<div class="area_button d-flex flex-row-reverse">
				@{
					if (Model.UserId == userId)
					{
						<button class="btn_user_edit" data-bs-toggle="modal"
								data-bs-target="#modal_user_info">
							編輯個人資料
						</button>
					}
				}
				@{
					if (userId != 0 && Model.UserId != userId)
					{
						foreach (var i in ViewBag.User)
						{
							if (i.o.FollowerId == userId)
							{
								<button onclick="user_follow(@Model.UserId, @userId, this)">取消追蹤</button>
								goto loopout;
							}
						}
						<button onclick="user_follow(@Model.UserId, @userId, this)">追蹤</button>
					loopout:;
						<a href="~/Report?ID=@Model.UserId&Type=0">檢舉</a>

					}
				}
			</div>
			@{
				if (Model.UserId == userId)
				{
					<a href="~/RecipeCreatePage/Create" class="btn_new_recipe">寫食譜</a>
				}
			}

			<div class="area_radio">
				<input type="radio" name="radio_user_info" id="radio_article" class="d-none" checked>
				<label for="radio_article">所有食譜</label>
				<input type="radio" name="radio_user_info" id="radio_fan" class="d-none">
				<label for="radio_fan">粉絲</label>

				@{
					if (Model.UserId == userId)
					{
						<input type="radio" name="radio_user_info" id="radio_follow" class="d-none">
						<label for="radio_follow">追蹤</label>
						<input type="radio" name="radio_user_info" id="radio_analysis" class="d-none">
						<label for="radio_analysis">分析</label>
					}
				}
			</div>
		</div>
		<!-- 文章列表 -->
		<div class="area_article row mx-0 px-0">

			@* <div class="position-relative px-0">
			<img src="~/img/img_recipe_icon.png">
			<div>食譜標題</div>
			<div>
			食譜內文<br>
			一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			一
			三行<br>
			四行 一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			一二三四五六七八九十
			</div>
			<div>5月11日</div>
			<div>
			<i class="fa-regular fa-eye"></i>
			<div class="d-inline">9999</div>
			<i class="fa-solid fa-tag"></i>
			<div class="d-inline">9999</div>
			</div>
			</div> *@
			@{
				foreach (var i in ViewBag.recipe)
				{
					<form asp-action="Index" asp-controller="RecipePage" method="post" target="_blank" class="position-relative px-0" onclick="document.getElementById('goto_@i.RecipeId').click()">
						<img src="data:image/jpg;base64, @((i.RecipeCoverImage != null)?Convert.ToBase64String(i.RecipeCoverImage):"")" @((i.RecipeCoverImage == null) ? "hidden" : "")>
						<div>@i.RecipeName</div>
						<div>
							@i.RecipeIntroduction
						</div>
						<div>@(i.LastModifiedDate.Month)月@(i.LastModifiedDate.Day)日</div>
						<div>
							<i class="fa-regular fa-eye"></i>
							<div class="d-inline">@((int?)ViewData[$"recipe_view_{i.RecipeId}"])</div>
							<i class="fa-solid fa-tag"></i>
							<div class="d-inline">@i.Favorites</div>
						</div>
						<input type="submit" id="goto_@i.RecipeId" name="recipe_id" value=@i.RecipeId class="d-none" />
					</form>
				}
			}
		</div>
		<!-- 粉絲 -->
		<div class="area_fan row mx-0 px-0" id="section_fan">
			<!-- 標題 -->
			<div class="position-relative px-0">
				<div>@(Model.UserName)的粉絲</div>
			</div>
			<!-- 粉絲列表 -->
			<div class="px-0" id="list_fan">
				<!-- 粉絲物件 -->
				@{
					foreach (var i in ViewBag.User)
					{
						<div class="position-relative">
							@{
								if (i.u.UserPhoto != null)
								{
									<img src="data:image/jpg;base64, @Convert.ToBase64String(i.u.UserPhoto)" class="rounded-circle">
								}
								else
								{
									<img src="~/img/img_user_icon.png" class=" rounded-circle">
								}
							}

							<div><a href="~/user/@((i.u.UserEmail).Split('@')[0])">@i.u.UserName</a></div>

							<div>
								<div class="d-inline">@((int?)ViewData[$"recipe_{i.u.UserId}"]) 食譜</div>
								<div class="d-inline">@(((List<UserFollower>)ViewData[$"follower_{i.u.UserId}"]).Count()) 粉絲數</div>
							</div>
							<div>@i.u.UserIntro</div>

							@{
								if (i.u.UserId != userId)
								{
									foreach (var l in (List<UserFollower>)ViewData[$"follower_{i.u.UserId}"])
									{
										if (l.FollowerId == userId)
										{
											<button onclick="user_follow(@i.u.UserId, @userId, this)">取消追蹤</button>
											goto loopout;
										}
									}
									<button onclick="user_follow(@i.u.UserId, @userId, this)">追蹤</button>
								loopout:;
								}
							}
						</div>
					}
				}
			</div>

			@* <div class="px-0">
			<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
			<li class="page-item disabled">
			<a class="page-link" href="#" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
			</a>
			</li>
			<li class="page-item active" aria-current="page" onclick="get_fan(1, @Model.UserId)"><span class="page-link">1</span></li>
			<li class="page-item"><a class="page-link" href="#section_fan" onclick="get_fan(2, @Model.UserId)">2</a></li>
			<li class="page-item"><a class="page-link" href="#section_fan" onclick="get_fan(3, @Model.UserId)">3</a></li>
			<li class="page-item">
			<a class="page-link" href="#section_fan" aria-label="Next" onclick="get_fan(-1, @Model.UserId)">
			<span aria-hidden="true">&raquo;</span>
			</a>
			</li>
			</ul>
			</nav>
			</div> *@
		</div>
		<!-- 追蹤列表 -->
		<div class="area_follow row mx-0 px-0">
			<!-- 標題 -->
			<div class="position-relative px-0">
				<div>@(Model.UserName)的追蹤</div>
			</div>
			<!-- 追蹤列表 -->
			<div class="px-0" id="list_follow">
				<!-- 追蹤物件 -->
				@{
					foreach (var i in ViewBag.follow)
					{
						<div class="position-relative">
							@{
								if (i.u.UserPhoto != null)
								{
									<img src="data:image/jpg;base64, @Convert.ToBase64String(i.u.UserPhoto)" class="rounded-circle">
								}
								else
								{
									<img src="~/img/img_user_icon.png" class=" rounded-circle">
								}
							}

							<div><a href="~/user/@((i.u.UserEmail).Split('@')[0])">@i.u.UserName</a></div>

							<div>
								<div class="d-inline">@((int?)ViewData[$"follow_recipe_{i.u.UserId}"]) 食譜</div>
								<div class="d-inline">@(((List<UserFollower>)ViewData[$"follow_{i.u.UserId}"]).Count()) 粉絲數</div>
							</div>
							<div>@i.u.UserIntro</div>

							@{
								if (i.u.UserId != userId)
								{
									foreach (var l in (List<UserFollower>)ViewData[$"follow_{i.u.UserId}"])
									{
										if (l.FollowerId == userId)
										{
											<button onclick="user_follow(@i.u.UserId, @userId, this)">取消追蹤</button>
											goto loopout;
										}
									}
									<button onclick="user_follow(@i.u.UserId, @userId, this)">追蹤</button>
								loopout:;
								}
							}
						</div>
					}
				}
			</div>
		</div>

	</div>
	<!-- 分析圖表 -->
	@{
		if (Model.UserId == userId)
		{
			<div class="area_analyze">
				<div>
					<label>分析項目：</label>
					<label>粉絲數<input type="radio" name="radio_analyze_type" id="radio_analyze_fan" checked hidden /></label>
					<label>瀏覽數<input type="radio" name="radio_analyze_type" id="radio_analyze_view" hidden /></label>
				</div>
				<div class="area_analyze_recipe">
				</div>
				<div>
					<label>時間篩選：</label>
					<label>年<input type="radio" name="radio_analyze_time" id="radio_analyze_year" checked hidden /></label>
					<label>季<input type="radio" name="radio_analyze_time" id="radio_analyze_season" hidden /></label>
					<label>月<input type="radio" name="radio_analyze_time" id="radio_analyze_month" hidden /></label>
					<label>週<input type="radio" name="radio_analyze_time" id="radio_analyze_week" hidden /></label>
				</div>
				<div class="area_select_time">
					<div class="form-switch d-inline">
						<input class="form-check-input" type="checkbox" id="check_last_year" name="check_year" checked />
						<label for="check_last_year">最近一年</label>
					</div>
					<div class="form-switch d-inline">
						<input class="form-check-input" type="checkbox" id="check_two_year" name="check_year" />
						<label for="check_two_year">最近兩年</label>
					</div>
				</div>
				<div>
					<label>分析類型：</label>
					<label>總數<input type="radio" name="radio_analyze_data" id="radio_analyze_sum" checked hidden /></label>
					<label>成長數<input type="radio" name="radio_analyze_data" id="radio_analyze_grow" hidden /></label>
				</div>
				<button id="btn_analyze">分析</button>
				<hr />
				<div class="area_analyze_chart">
				</div>
			</div>
		}
	}

	<!-- 編輯 -->
	<!-- Vertically centered modal -->
	<div class="area_edit modal fade" id="modal_user_info" tabindex="-1" aria-labelledby="text_title"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<!-- 資料設定 -->
			<div class="modal-content" id="area_user_data">
				<div class="modal-header">
					<button type="button" class="btn_close btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					<h5 class="text_title modal-title d-inline me-auto" id="text_title">編輯個人資料</h5>
					<button class="btn_save" onclick="user_edit(@Model.UserId)">儲存</button>
				</div>
				<div class="modal-body row">
					<!-- 背景上傳 -->
					<div class="position-relative">
						@{
							if (Model.UserBanner != null)
							{
								<img src="data:image/jpg;base64, @Convert.ToBase64String(Model.UserBanner)" class="rounded-top" id="img_user_banner" />
							}
							else
							{
								<img src="~/img/img_user_info.png" class="rounded-top" id="img_user_banner">
							}
						}
						<button type="button" class="opacity-50 translate-middle" id="btn_user_banner">
							<svg viewBox="0 0 24 24" aria-hidden="true"
								 class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18yzcnr r-yc9v9c"
								 style="color: rgb(255, 255, 255);">
								<g>
									<path d="M9.697 3H11v2h-.697l-3 2H5c-.276 0-.5.224-.5.5v11c0 .276.224.5.5.5h14c.276 0 .5-.224.5-.5V10h2v8.5c0 1.381-1.119 2.5-2.5 2.5H5c-1.381 0-2.5-1.119-2.5-2.5v-11C2.5 6.119 3.619 5 5 5h1.697l3-2zM12 10.5c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2zm-4 2c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4zM17 2c0 1.657-1.343 3-3 3v1c1.657 0 3 1.343 3 3h1c0-1.657 1.343-3 3-3V5c-1.657 0-3-1.343-3-3h-1z">
									</path>
								</g>
							</svg>
						</button>
						<input type="file" id="inputFile_user_banner"
							   accept="image/jpg,image/jpeg,image/gif,image/png" class="d-none" />
					</div>
					<!-- 頭像上傳 -->
					<div class="position-relative">
						@{
							if (Model.UserPhoto != null)
							{
								<img src="data:image/jpg;base64, @Convert.ToBase64String(Model.UserPhoto)" class="rounded-circle" id="img_user_icon" />
							}
							else
							{
								<img src="~/img/img_user_icon.png" class="rounded-circle" id="img_user_icon">
							}
						}
						<button type="button" class="opacity-50 translate-middle" id="btn_user_icon">
							<svg viewBox="0 0 24 24" aria-hidden="true"
								 class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18yzcnr r-yc9v9c"
								 style="color: rgb(255, 255, 255);">
								<g>
									<path d="M9.697 3H11v2h-.697l-3 2H5c-.276 0-.5.224-.5.5v11c0 .276.224.5.5.5h14c.276 0 .5-.224.5-.5V10h2v8.5c0 1.381-1.119 2.5-2.5 2.5H5c-1.381 0-2.5-1.119-2.5-2.5v-11C2.5 6.119 3.619 5 5 5h1.697l3-2zM12 10.5c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2zm-4 2c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4zM17 2c0 1.657-1.343 3-3 3v1c1.657 0 3 1.343 3 3h1c0-1.657 1.343-3 3-3V5c-1.657 0-3-1.343-3-3h-1z">
									</path>
								</g>
							</svg>
						</button>
						<input type="file" id="inputFile_user_icon"
							   accept="image/jpg,image/jpeg,image/gif,image/png" class="d-none" />
					</div>
					<!-- 名稱變更 -->
					<div class="form-floating">
						<input type="text" class="form-control" id="input_user_name" placeholder="name"
							   value="@Model.UserName">
						<label for="input_user_name">名稱</label>
					</div>
					<!-- 自介變更 -->
					<div class="form-floating">
						<textarea class="form-control" placeholder="自我介紹" id="input_user_info">@Model.UserIntro</textarea>
						<label for="input_user_info">自我介紹</label>
					</div>
				</div>
			</div>
			<!-- 圖片上傳 -->
			<div class="modal-content d-none" id="area_user_img">
				<div class="modal-header">
					<button type="button" class="btn-close btn_back">
						<i class="fa-solid fa-arrow-left"></i>
					</button>
					<h5 class="text_title modal-title d-inline me-auto" id="text_title">編輯媒體</h5>
					<button type="button" class="btn_save_banner d-none">套用</button>
					<button type="button" class="btn_save_icon d-none">套用</button>
				</div>
				<div class="modal-body row">
					<!-- 圖片上傳 -->
					<div id="oldImg"></div>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div> -->
			</div>
		</div>
	</div>

	<!-- 食譜選擇分析 -->
	<div class="area_select_recipe modal fade" id="modal_select_recipe" tabindex="-1" aria-labelledby="label_select_recipe" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn_close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<h5 class="text_title modal-title d-inline me-auto" id="label_select_recipe">選擇食譜</h5>
					<button class="btn_save" onclick="save_analyze_recipe()" data-bs-dismiss="modal">儲存</button>
				</div>
				<div class="modal-body row">
					@* <div class="col-4 mb-3">
					<label class="p-1 rounded">
					<input type="checkbox" name="chekcbox_select_recipe" hidden recipe_name="name" recipe_id="1" />
					<img src="~/img/img_recipe_icon.png" class="img-fluid" />
					<p class="text-center m-0">NAME</p>
					</label>
					</div> *@

					@foreach (var i in ViewBag.recipe)
					{
						<div class="col-4 mb-3">
							<label class="p-1 rounded">
								<input type="checkbox" name="chekcbox_select_recipe" hidden recipe_name="@($"{i.RecipeName}")" recipe_id="@i.RecipeId" />
								@{

									if (i.RecipeCoverImage != null)
									{
										<img src="data:image/jpg;base64, @((i.RecipeCoverImage != null)?Convert.ToBase64String(i.RecipeCoverImage):"")" class="img-fluid" @((i.RecipeCoverImage == null) ? "hidden" : "") />

									}
									else
									{
										<img src="~/img/img_recipe_icon.png" class="img-fluid" />
									}
								}
								<p class="text-center m-0">@i.RecipeName</p>
							</label>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</div>
