@{
	ViewData["Title"] = "iTasty | 篩選頁";
	Layout = "~/Views/Shared/_itastyLayout.cshtml";
}

@section MyHeadScripts {
	<link rel="stylesheet" href="/css/research_v2.css">
}

<body>
	
	<div class="container" style="  margin-top: 80px;">
		<!-- 篩選選單form -->
		<form id="filter_form">
			<!-- 第一層篩選欄 -->
			<div class="filter">
				<!-- 篩選欄1 -->
				<div class="myselect">
					<img src="/img/research_img/clock.png" alt="烹飪時間">
					<label for="time">烹飪時間</label>
					<select name="time_option" id="time" style="cursor:pointer;">
						<option value="all">所有選項</option>
						<option value="15min">少於15分鐘</option>
						<option value="30min">少於30分鐘</option>
						<option value="60min">60分鐘以下</option>
						<option value="60min_up">超過60分鐘</option>
					</select>
				</div>
				<!-- 篩選欄1 -->
				<!-- 篩選欄2 -->
				<div class="myselect">
					<img src="/img/research_img/vegetable.png" alt="食材">
					<label for="food">食材</label>
					<select name="food" id="food" style="cursor:pointer;">
						<option value="all">所有選項</option>
						<option value="雞肉">雞肉</option>
						<option value="豬肉">豬肉</option>
						<option value="牛肉">牛肉</option>
						<option value="羊肉">羊肉</option>
						<option value="海鮮">海鮮</option>
					</select>
				</div>
				<!-- 篩選欄2 -->
				<!-- 篩選欄3 -->
				<div class="myselect">
					<img src="/img/research_img/cooking.png" alt="餐類">
					<label for="meat">餐類</label>
					<select name="meat" id="meat" style="cursor:pointer;">
						<option value="all">所有選項</option>
						<option value="早餐">早餐</option>
						<option value="午/晚餐">午晚餐</option>
						<option value="甜品">甜品</option>
						<option value="小食">小食</option>
					</select>
				</div>
				<!-- 篩選欄3 -->
				<!-- 篩選欄4 -->
				<div class="myselect">
					<img src="/img/research_img/eco-food.png" alt="膳食">
					<label for="vegetable">膳食</label>
					<select name="vegetable" id="vegetable" style="cursor:pointer;">
						<option value="all">所有選項</option>
						<option value="健康餐">健康食譜</option>
						<option value="素食">素食食譜</option>
					</select>
				</div>
				<!-- 篩選欄4 -->
				<!-- 篩選欄5 -->
				<div class="myselect">
					<img src="/img/research_img/food-tray.png" alt="菜式">
					<label for="type">菜式</label>
					<select name="type" id="type" style="cursor:pointer;">
						<option value="all">所有選項</option>
						<option value="中式">中式食譜</option>
						<option value="日式">日式食譜</option>
						<option value="韓式">韓式食譜</option>
						<option value="西式">西式食譜</option>
						<option value="其他">其他</option>
					</select>
				</div>
				<!-- 篩選欄5 -->
			</div>
			<!-- 第一層篩選欄 -->
			<!-- 第二層篩選欄 -->
			<div class="fliter_2">
				<!-- search_bar -->
				<div class="mb-3 col-4 search_bar">
					<div class="input-group">
						<select name="search_type" id="search_type" style="cursor:pointer;">
							<option value="recipes">食譜</option>
							<option value="author">作者</option>
						</select>
						<input type="text" name="search" class="form-control border-dark border-end-0">
						<button class="btn border-start-0 border-dark" type="submit" style="background-color: white;">
							<img src="/img/research_img/search.png" alt="" style="width: 25px;">
						</button>
					</div>
				</div>
				<!-- search_bar -->
				<!-- 清除按鈕 -->
				<button type="reset" class="clean"> &nbsp;清除所有&nbsp; </button>
				<!-- 清除按鈕 -->
			</div>
			<!-- 第二層篩選欄 -->
		</form>
		<!-- 篩選選單form  -->
		<div class="justify-content-center">

			<!-- 排序 -->
			<form id="form_order_by" style="background-color:rgba(255,255,255,0); border:none; box-shadow:none">

				<!-- 儲存篩選條件 -->
				<input type="hidden" name="selected_time" id="selected_time">
				<input type="hidden" name="selected_food" id="selected_food">
				<input type="hidden" name="selected_meat" id="selected_meat">
				<input type="hidden" name="selected_vegetable" id="selected_vegetable">
				<input type="hidden" name="selected_type" id="selected_type">
				<input type="hidden" name="selected_search_type" id="selected_search_type">
				<input type="hidden" name="selected_search" id="selected_search">
				<!-- 儲存篩選條件 -->

				<select class="form-select mt-4" style="margin-left:90%;width: 10%;" name="order_by" id="order_by">
					<option value="">預設</option>
					<option value="Views">瀏覽數</option>
					<option value="UserName">作者</option>
					<option value="CookingTime">烹調時間</option>
				</select>

			</form>
			<!-- 排序 -->

			<!-- 結果 -->
			@if (Model.Count != 0)
			{
				#region 渲染結果
				foreach (var recipe in Model)
				{
					<form asp-controller="RecipePage" asp-action="Index" method="post" target="_blank" class="formSubmit" style=" border: none;border-radius: none;background:none;box-shadow:none">
					<input type="hidden" name="recipe_id" value="@recipe.r.RecipeId" />
					<div class="search_result m-4" src="/{UserId}" asp-action="Index" asp-controller="RecipePage" method="post" target="_blank">
						<!-- 料理圖片 -->
						<img src="data:image/jpg;base64, @((recipe.r.RecipeCoverImage != null)?Convert.ToBase64String(recipe.r.RecipeCoverImage):"")" alt="食物圖片" class="recipes_img" @((recipe.r.RecipeCoverImage == null) ? "hidden" : "")>
						<!-- 料理圖片 -->
						<div class="recipes_detail">
							<p class="recipes_title">@recipe.r.RecipeName</p>
							<div class="recipes_author">
								<img alt="" src="./img/user.svg" />
								<div>作者: @recipe.u.UserName</div>
							</div>
							<!-- 料理描述 -->
							<p class="recipes_description">
								@recipe.r.RecipeIntroduction
							</p>
								<span style="margin-right:20px; color: rgb(100,100,100)">
									烹調時間:@recipe.r.CookingTime 分鐘
							</span>
							<!-- 料理描述 -->
							<!-- 料理標籤 -->
							<!-- 料理標籤 -->
							@if (@recipe.r.ProteinUsed != null)
							{
									<span class="mx-0" style="color: rgb(100,100,100);">#@recipe.r.ProteinUsed</span>
							}
							
							@if (@recipe.r.MealType != null)
							{
									<span style="color: rgb(100,100,100);">#@recipe.r.MealType</span>
							}
							@if (@recipe.r.CuisineStyle != null)
							{
									<span style="color: rgb(100,100,100);">	#@recipe.r.CuisineStyle</span>
							}
							@if (@recipe.r.HealthyOptions != null)
							 {
									<span style="color: rgb(100,100,100);"> #@recipe.r.HealthyOptions</span>
							 }
							<div class="recipes_views">
								
								<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
									 fill="#5f6368">
									<path d="M856-390 570-104q-12 12-27 18t-30 6q-15 0-30-6t-27-18L103-457q-11-11-17-25.5T80-513v-287q0-33 23.5-56.5T160-880h287q16 0 31 6.5t26 17.5l352 353q12 12 17.5 27t5.5 30q0 15-5.5 29.5T856-390ZM513-160l286-286-353-354H160v286l353 354ZM260-640q25 0 42.5-17.5T320-700q0-25-17.5-42.5T260-760q-25 0-42.5 17.5T200-700q0 25 17.5 42.5T260-640Zm220 160Z" />
								</svg>
								<div>@recipe.r.Favorites</div>
								<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
									 fill="#5f6368">
									<path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
								</svg>
								<div>@recipe.r.Views</div>
							</div>
						</div>
						</div>
					</form>
				}
				#endregion
			}
			else
			{
				<div class="d-flex justify-content-center alert" style="font-size:large">沒有符合項目!</div>
			}
			<!-- 結果 -->

		</div>


	</div>
	

	@* <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.11.5/dist/umd/popper.min.js"></script> *@
	@* <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script> *@
	<script>

		//流程:點選篩選欄 --> 從url擷取Value值 --> 將擷取到的Value值複製一份進input-hidden --> 點選search按鈕傳篩選欄的Value進Controller                        --> Controller進行篩選          -->返回結果  --> 點選排序 --> 將排序的要求以及input-hidden裡的資訊傳進Controller  --> Controller進行篩選以及排序  -->返回結果
		//                                                                                 --> 點選排序 --> 將排序的要求以及input-hidden裡的資訊傳進Controller  --> Controller進行篩選以及排序  -->返回結果

		$(".formSubmit").on('click', function () {
			$(this).submit();
		})

		//加入Json資料
		// var app = new Vue({
		//     el: "#app1",
		//     data: {
		//         items: [

		//         ]
		//     }
		// });

		// $.get("json.json", function (e) {
		//     app.items = e.recipes
		// })
		//加入Json資料

		$("#order_by").on("click", function () {
			console.log($(this).val())
		})



		//抽換input的placeholder
		if (getUrlParameter('search_type') == "author" || getUrlParameter('selected_search_type') == "author") {
			$("#search_type + input").attr("placeholder", "  請輸入作者")
		} else {
			$("#search_type + input").attr("placeholder", "  請輸入食譜")
		}

		$("#search_type").on("change", function () {
			var search_type_value = $("#search_type").val()
			if (search_type_value == "author") {
				$("#search_type + input").attr("placeholder", "  請輸入作者")
			} else {
				$("#search_type + input").attr("placeholder", "  請輸入食譜")
			}
		})
		//抽換input的placeholder

		//從url取得上次的搜尋紀錄
		function getUrlParameter(name) {
			name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
			var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
			var results = regex.exec(location.search);
			return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
		};

		// 從url抓下來input-hidden的值
		if (getUrlParameter('selected_time')) {
			$('#selected_time').val(getUrlParameter('selected_time'));
		} else if (getUrlParameter('time_option')) {
			$('#selected_time').val(getUrlParameter('time_option'));
		}
		if (getUrlParameter('selected_food')) {
			$('#selected_food').val(getUrlParameter('selected_food'));
		} else if (getUrlParameter('food')) {
			$('#selected_food').val(getUrlParameter('food'));
		}
		if (getUrlParameter('selected_meat')) {
			$('#selected_meat').val(getUrlParameter('selected_meat'));
		} else if (getUrlParameter('meat')) {
			$('#selected_meat').val(getUrlParameter('meat'));
		}
		if (getUrlParameter('selected_vegetable')) {
			$('#selected_vegetable').val(getUrlParameter('selected_vegetable'));
		} else if (getUrlParameter('vegetable')) {
			$('#selected_vegetable').val(getUrlParameter('vegetable'));
		}
		if (getUrlParameter('selected_type')) {
			$('#selected_type').val(getUrlParameter('selected_type'));
		} else if (getUrlParameter('type')) {
			$('#selected_type').val(getUrlParameter('type'));
		}
		if (getUrlParameter('selected_search_type')) {
			$('#selected_search_type').val(getUrlParameter('selected_search_type'));
		} else if (getUrlParameter('search_type')) {
			$('#selected_search_type').val(getUrlParameter('search_type'));
		}
		if (getUrlParameter('selected_search')) {
			$('#selected_search').val(getUrlParameter('selected_search'));
		} else if (getUrlParameter('search')) {
			$('#selected_search').val(getUrlParameter('search'));
		}

		// 將url的值填入input中
		function url_input() {
			//排序欄位的input-hidden
			if (getUrlParameter('selected_time')) {
				$('#time').val(getUrlParameter('selected_time'));
			}
			if (getUrlParameter('selected_food')) {
				$('#food').val(getUrlParameter('selected_food'));
			}
			if (getUrlParameter('selected_meat')) {
				$('#meat').val(getUrlParameter('selected_meat'));
			}
			if (getUrlParameter('selected_vegetable')) {
				$('#vegetable').val(getUrlParameter('selected_vegetable'));
			}
			if (getUrlParameter('selected_type')) {
				$('#type').val(getUrlParameter('selected_type'));
			}
			if (getUrlParameter('selected_search_type')) {
				$('#search_type').val(getUrlParameter('selected_search_type'));
			}
			if (getUrlParameter('selected_search')) {
				$('input[name="search"]').val(getUrlParameter('selected_search'));
			}

			//篩選欄位的input
			if (getUrlParameter('time_option')) {
				$('#time').val(getUrlParameter('time_option'));
			}
			if (getUrlParameter('food')) {
				$('#food').val(getUrlParameter('food'));
			}
			if (getUrlParameter('meat')) {
				$('#meat').val(getUrlParameter('meat'));
			}
			if (getUrlParameter('vegetable')) {
				$('#vegetable').val(getUrlParameter('vegetable'));
			}
			if (getUrlParameter('type')) {
				$('#type').val(getUrlParameter('type'));
			}
			if (getUrlParameter('order_by')) {
				$('#order_by').val(getUrlParameter('order_by'));
			}
			if (getUrlParameter('search_type')) {
				$('#search_type').val(getUrlParameter('search_type'));
			}
			if (getUrlParameter('search')) {
				$('input[name="search"]').val(getUrlParameter('search'));
			}

		}

		// 更新input-hidden值的方法
		function updateHiddenInputs() {
			$('#selected_time').val($('#time').val());
			$('#selected_food').val($('#food').val());
			$('#selected_meat').val($('#meat').val());
			$('#selected_vegetable').val($('#vegetable').val());
			$('#selected_type').val($('#type').val());
			$('#selected_search_type').val($('#search_type').val());
		}

		// 綁定input change 事件，更新input-hidden值
		$('#time, #food, #meat, #vegetable, #type').on('change', function () {
			updateHiddenInputs();
		});

		// 將要排序的要求船置controller
		$("#order_by").on("change", function () {
			$("#form_order_by").submit();
		});

		url_input();
	</script>
</body>